/* ==================ALL================= */
/* ==================ALL================= */

html,
body {
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.header {
  background-image: url(./../../img/1.png);
  background-size: cover;
  color: #fff;
}

.main {
  color: #48555B;
}

.head__title {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2.306px;
  margin-bottom: 10px;
}

.head__line {
  background-color: #00A4E5;
  height: 2px;
  width: 50px;
}


/* ==================HEADER================= */
/* ==================HEADER================= */


.header__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 770px;
  padding: 40px 0 70px;
}

.header__text {
  text-align: center;
}

.header__title {
  font-size: 60px;
  letter-spacing: 5.709px;
  margin-bottom: 20px;
}

.header__scroll {
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 3.7px;
}


/* ==================NAVIGATION================= */
/* ==================NAVIGATION================= */


.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}

.nav__list {
  display: flex;
  gap: 48px;
}

.nav__item {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.091px;
}

.nav__link-ative {
  color: #00A4E5;
  font-weight: 700;
}

.line {
  background-color: #E6E6E6;
  height: 1px;
}


/* ==================STORY================= */
/* ==================STORY================= */


.story__wrapper {
  padding: 60px 0 60px;
}

.story__head {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}

.story__body {
  display: flex;
  justify-content: space-between;
}

.story__info {
  max-width: 390px;
  display: flex;
  flex-direction: column;
}

.story__text {
  line-height: 1.3;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.188px;
  margin-bottom: 30px;
}

.story__text span {
  color: #00A4E5;
}

.story__descr {
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.188px;
}

.story__images {
  display: flex;
  gap: 24px;
  align-items: flex-end;
}

.store__img {
  position: relative;
}

.story__link {
  display: block;
}

.story__link p {
  font-size: 24px;
  font-weight: 800;
  line-height: 29px;
  letter-spacing: 0.188px;
  color: #fff;
  position: absolute;
  top: 15px;
  left: 15px;
}


/* ==================CAPABIKITIES================= */
/* ==================CAPABIKITIES================= */


.capabilities {}

.capab__wrapper {
  padding: 60px 0 60px;
}

.capab__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 75px;
}

.capab__head {}

.capab__dop {
  display: flex;
  gap: 60px;
}

.capab__text {
  max-width: 405px;
  color: #48555B;
  font-size: 11px;
  line-height: 19px;
  letter-spacing: 0.2px;
}

.capab__button {
  color: #FFF;
  font-size: 13px;
  font-weight: 700;
  padding: 11px 29px;
  background-color: #00A4E5;
  display: block;

  line-height: normal;
  letter-spacing: 0.5px;
}


.capab__services {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service {
  border: 1px solid #E6E6E6;
  max-width: 300px;
}

.service__link {
  padding: 38px 20px;
  display: block;
}

.service__img {
  margin-bottom: 25px;
}

.service__descr {
  width: 100%;
}

.service__name {
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.427px;
  margin-bottom: 13px;
}

.service__text {
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.188px;
}

/* ==================CAPABIKITIES================= */
/* ==================CAPABIKITIES================= */

.sandbox {
  background: url(../img/bg.png);
  background-size: cover;
  background-position: center;
}

.sandbox__wrapper {
  padding: 120px 0 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}

.sandbox__title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.15px;
  max-width: 350px;
}

.sandbox__button {
  color: #FFF;
  font-size: 13px;
  font-weight: 700;
  padding: 11px 29px;
  background-color: #00A4E5;
  display: block;

  line-height: normal;
  letter-spacing: 0.5px;
}