/* ==================ALL================= */
/* ==================ALL================= */

html,
body {
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1000px;
  padding: 0 30px;
  margin: 0 auto;
}

.header {
  background-image: url(./../img/1.png);
  background-size: cover;
  background-position: center;
  color: #fff;
}

.main {
  color: #48555B;
}

.head__title {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2.306px;
  margin-bottom: 10px;
}

.head__line {
  background-color: #00A4E5;
  height: 2px;
  width: 50px;
}

.button {
  color: #FFF;
  font-size: 13px;
  font-weight: 700;
  padding: 12px 0;
  background-color: #00A4E5;
  width: 150px;
  text-align: center;

  letter-spacing: 0.5px;

  transition: all .5s;
}


.button:hover {
  background-color: #236ed1;
  transform: scale(1.1);
  border-radius: 10px;
}


/* ==================HEADER================= */
/* ==================HEADER================= */


.header__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 770px;
  padding: 40px 30px 70px;
}

.header__text {
  text-align: center;
}

.header__title {
  font-size: 60px;
  letter-spacing: 5.709px;
  margin-bottom: 20px;
}

.header__scroll {
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 3.7px;
}


/* ==================NAVIGATION================= */
/* ==================NAVIGATION================= */


.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}

.nav__list {
  display: flex;
  gap: 48px;
}

.nav__item {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.091px;
}

.nav__link {
  transition: color .5s;
}

.nav__link:hover {
  color: #00A4E5;
}

.nav__link-ative {
  color: #00A4E5;
  font-weight: 700;
}

.line {
  background-color: #E6E6E6;
  height: 1px;
}


/* ==================STORY================= */
/* ==================STORY================= */


.story__wrapper {
  padding: 60px 0 60px;
}

.story__head {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}

.story__body {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.story__info {
  max-width: 390px;
  display: flex;
  flex-direction: column;
}

.story__text {
  line-height: 1.3;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.188px;
  margin-bottom: 30px;
}

.story__text span {
  color: #00A4E5;
}

.story__descr {
  line-height: 23px;
  letter-spacing: 0.188px;
}

.story__images {
  display: flex;
  gap: 24px;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
}

.store__img {
  position: relative;
}

.story__link {
  display: block;
  transition: transform .5s;
}

.story__link:hover {
  transform: scale(1.1);
}

.story__link p {
  font-size: 24px;
  font-weight: 800;
  line-height: 29px;
  letter-spacing: 0.188px;
  color: #fff;
  position: absolute;
  top: 15px;
  left: 15px;
}


/* ==================CAPABIKITIES================= */
/* ==================CAPABIKITIES================= */


.capab__wrapper {
  padding: 60px 0 60px;
}

.capab__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 75px;
}

.capab__right {
  display: flex;
  gap: 60px;
}

.capab__text {
  max-width: 460px;
  color: #48555B;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.2px;
}

.capab__services {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.service {
  border: 1px solid #E6E6E6;
  max-width: 310px;
  transition: transform .5s;
}

.service:hover {
  transform: scale(1.1);
}

.service__link {
  padding: 38px 20px;
  display: block;
}

.service__img {
  margin-bottom: 25px;
}

.service__descr {
  width: 100%;
}

.service__name {
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.427px;
  margin-bottom: 13px;
}

.service__text {
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0.188px;
}

/* ==================CAPABIKITIES================= */
/* ==================CAPABIKITIES================= */

.sandbox {
  background: url(../img/bg.png);
  background-size: cover;
  background-position: center;
}

.sandbox__wrapper {
  padding: 120px 0 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}

.sandbox__title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.15px;
  max-width: 350px;
}

.sandbox__button {
  width: 170px;
  padding: 20px 0;
  color: #FFF;
  background-color: #00A4E5;
  text-align: center;
}


/* ==================NEWSLETTER================= */
/* ==================NEWSLETTER================= */

.newsletter {
  background-color: #171819;
}

.newsletter__wrapper {
  padding: 35px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  flex-wrap: wrap;
}

.newsletter__title {
  color: #FFF;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.846px;
}

.newsletter__form {
  display: flex;
}

.form__input {
  padding: 10px 16px;
}

.form__button {
  transition: all .5s;
}

.form__button:hover {
  transform: scale(1);
}


/* ==================FOOTER================= */
/* ==================FOOTER================= */

.footer__content {
  padding: 45px 0;
  background-color: #141A20;
  color: #fff;
  font-size: 14px;
}

.content__wrapper {
  display: flex;
  justify-content: space-between;
}

.content__column {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.content__title {
  letter-spacing: 0.846px;
}

.company__wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.company__wrapper img {
  max-width: 110px;
}

.company__wrapper p {
  max-width: 250px;
  line-height: 19px;
  letter-spacing: 0.85px;
}

.links__wrapper {
  display: flex;
  justify-content: space-between;
  width: 260px;
}

.links__column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact__wrapper {
  display: flex;
  gap: 45px;
}

.contact__column {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 140px;
}

.social__contact {
  display: flex;
  gap: 25px;
  align-items: start;
}


.footer__right {
  padding: 23px 0;
  background-color: #171819;
  text-align: center;
  color: #FFF;
}

/* ==================MEDIA================= */
/* ==================MEDIA================= */

@media screen and (max-width: 1000px) {

  /* -------hedaer----- */

  .header__top {
    height: 700px;
  }

  .header__title {
    font-size: 42px;
  }

  /* -------navigation----- */

  .nav__list {
    gap: 30px;
  }

  /* -------story----- */

  .story__body {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  /* -------capab----- */

  .capab__top {
    gap: 30px;
  }

  .capab__right {
    flex-direction: column;
    gap: 15px;
  }

  .capab__services {
    justify-content: center;
    gap: 30px;
  }

  /* -------footer----- */

  .contact__wrapper {
    flex-direction: column;
    gap: 15px;
  }
}

@media screen and (max-width: 800px) {

  .capab__top {
    flex-direction: column;
    align-items: center;
  }

  .capab__right {
    align-items: center;
  }

  .capab__head {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content__wrapper {
    align-items: center;
    flex-direction: column;
    gap: 45px;
  }

  .content__column {
    align-items: center;
  }

  .company__wrapper {
    align-items: center;
  }

  .company__wrapper p {
    text-align: center;
    max-width: 400px;
  }

  .links__wrapper {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .links__column {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .contact__wrapper {
    align-items: center;
  }

  .contact__column {
    flex-direction: row;
    max-width: 500px;
  }
}

@media screen and (max-width: 700px) {

  .header__top{
    height: 500px;
  }

  .header__title {
    font-size: 32px;
  }

  .nav__wrapper {
    flex-direction: column;
    gap: 30px;
  }

  .nav__list {
    gap: 10px;
  }

  .sandbox__wrapper{
    padding: 60px 0 150px;
  }

  .newsletter__wrapper {
    flex-direction: column;
    gap: 30px;
  }

  .contact__column {
    flex-direction: column;
    align-items: center;
  }

  .contact__column p {
    text-align: center;
  }



}

@media screen and (max-width: 420px) {
  .header__title{
    font-size: 24px;
  }

  .container{
    padding: 0 15px;
  }

  .newsletter__form {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}